@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?cc146n');
    src:  url('../fonts/icomoon.eot?cc146n#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?cc146n') format('truetype'),
      url('../fonts/icomoon.woff?cc146n') format('woff'),
      url('../fonts/icomoon.svg?cc146n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }

/* -------------- Variables */

:root {
    --blue-color: #6699FF;
    --white-color: white;
    --black-color: black;
    --gray-color: gray;
    --hamburger-color: rgba(5, 111, 255, .9);
    --button-color: #4d76c7;
    --border-color-button: #c1c1c1;
    --button-form-sale: #21d444;
    --box-shadow: 0 0 2px 1px #e6e5e9;
}

/* -------------- Variables */

html, body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Helvetica;
}

.container-global-1 {
    width: 100%;
    background-color: var(--blue-color);
}

.container-global-2 {
    width: 100%;
    background-color: var(--white-color);
}

.container-global-3 {
    background-color: var(--black-color);
    width: 100%;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1440px;
    margin: auto;
    width: 90%;
    background-color: inherit;
    padding: 10px;
    color: var(--white-color);
    justify-content: space-between;
    align-content: center;
    text-align: center;
    height: auto;
}

nav .vet-image {
    display: contents;
}

nav .vet-image img {
    width: 70%;
    align-self: center;
}

.nav-options {
    display: grid;
    align-content: center;
}

nav ol {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: end;
}

nav li {
    font-weight: bold;
    list-style: none;
}

nav li a {
    color: var(--black-color);
    text-decoration: none;
    font-size: 17pt;
}

nav li a:hover {
    text-decoration: underline;
}

/* ---------------------- Main section */

.punch-line {
    display: none;
    background-color: inherit;
    max-width: 1440px;
    margin: auto;
    width: 90%;
    padding: 4%;
    text-align: center;
}

.punch-line h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: 'open sans';
}

.where-is {
    max-width: 1440px;
    margin: auto;
    background-color: inherit;
    width: 90%;
    padding: 0 4%;
    padding-top: 10%;
}

.where-is h1 {
    font-size: 3em;
    margin: 0;
}

.where-is p {
    font-size: 2em;
}

/* ----------------------- Our team */

.our-team {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-areas: "left team right";
}

.left {
    display: flex;
    grid-area: left;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    align-content: center;
}

.right {
    display: flex;
    grid-area: right;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-content: center;
}

.left img {
    width: 80%;
    align-self: center;
}

.right img {
    width: 80%;
    align-self: center;
}

.team-container {
    grid-area: team;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.frame {
    text-align: center;
    text-indent: 10px;
    text-transform: capitalize;
    line-height: 5px;
    font-weight: bold;
    font-size: 1em;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: 1em;
    margin: 5px;
}

.frame .foto {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.frame .foto img{
    width: 80%;
    margin: 0;
    padding: 0;
}

/* ------------------------- Footer */

footer {
    max-width: 1440px;
    background-color: inherit;
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--black-color);
    color: var(--gray-color);
    font-size: 1em;
}

footer p:nth-of-type(2) {
    text-align: end;
}

/* --------------------- Burger menu */

.burger-menu {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--white-color);
    line-height: 40px;
    display: none;
    align-self: center;
    font-size: 2em;
}

.button-buy {
    font-size: 2em;
    font-weight: bold;
    color: var(--white-color);
    padding: 2% 15%;
    border: 1px solid var(--border-color-button);
    background-color: var(--blue-color);
    border-radius: 5px;
}

.button-buy:hover {
    background-color: var(--button-color);
    cursor: pointer;
}

/* ------------------------- Sale */

.container {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.container .presentation {
    width: 50%;
    display: grid;
    padding: 1em;
    justify-self: right;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin: 50px;
    margin-right: 20px;
}

.container .presentation h1 {
    margin: 0;
    display: flex;
    justify-content: center;
}


.container .presentation figure {
    margin: 0;
    display: flex;
    justify-content: center;
}

.container figure img {
    max-width: 80%;
}

.sale-form {
    width: 50%;
    padding: 1em;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    justify-self: left;
    align-self: center;
}

.sale-form label {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: .5em;
}

.sale-form input {
    height: 30px;
    width: 90%;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;

}

.sale-form button {
    display: block;
    width: 100%;
    font-size: 1.5em;
    height: 40px;
    background-color: var(--button-form-sale);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ------------------------- Responsive */

@media screen and (max-width: 1024px) {

    .punch-line h1 {
        font-size: 2.5em;
    }

    .where-is h1 {
        font-size: 2.5em;
    }

    .where-is p {
        font-size: 1.5em;
    }

    .frame .foto img {
        width: 60%;
    }

    .frame {
        font-size: .8em;
    }
}

@media screen and (max-width: 768px) {

    .burger-menu {
        display: block;
        margin: 2%;
        z-index: 2;
    }
    
    nav {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    nav .vet-image img {
        width: 50%;
        padding: 2%;
    }

    /* Hamburguer menu */

    .nav-options {
        position: fixed;
        background-color: var(--hamburger-color);
        width: 100vw;
        height: 100vh;
        display: flex;
        top: 0;
        bottom: 0;
        justify-content: center;
        left: -100vw;
        transition: .3s;
    }

    .nav-options.is-active {
        left: 0;
    }

    .nav-options ol {
        grid-template-columns: 320px;
        grid-template-rows: repeat(4, 1fr);
        margin: 0;
        padding: 0;
    }

    .nav-options li {
        align-self: center;
    }

    .nav-options ol li a {
        font-size: 3em;
        text-decoration: underline;
        color: var(--white-color);
    }
}

@media screen and (max-width: 600px) {

    .left img {
        width: 100%;
        align-self: center;
    }
    
    .right img {
        width: 100%;
        align-self: center;
    }

    .team-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .frame:nth-of-type(3) {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .container {
        display: grid;
        margin: auto;
    }
    
    .container .presentation {
        width: 90%;
        display: grid;
        box-sizing: border-box;
        padding: 1em;
        justify-self: center;
        border-radius: 5px;
        box-shadow: var(--box-shadow);
        margin: 1em auto;
        margin-right: 0;
    }
    
    .container .presentation h1 {
        margin: 0;
        display: flex;
        justify-content: center;
    }
    
    
    .container .presentation figure {
        margin: 0;
        display: flex;
        justify-content: center;
    }
    
    .container figure img {
        max-width: 80%;
    }
    
    .sale-form {
        width: 90%;
        padding: 1em;
        border-radius: 5px;
        box-shadow: var(--box-shadow);
        box-sizing: border-box;
        justify-self: center;
        align-self: center;
    }
    
    .sale-form label {
        font-size: 1.5em;
        margin: 0;
        margin-bottom: .5em;
    }
    
    .sale-form input {
        height: 30px;
        width: 90%;
        margin: 0;
        padding: 0;
        margin-bottom: 1em;
    
    }
    
    .sale-form button {
        display: block;
        width: 100%;
        font-size: 1.5em;
        height: 40px;
        background-color: var(--button-form-sale);
        color: var(--white-color);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}